#szia:hover{

color: red;
text-decoration: underline;

}   

#link:hover {
    text-decoration: underline;
    color: cyan;
    font-weight: bold;
}

p{
    text-align: justify;
}

.lo{
    text-align: center;
}

#just{
    text-align: justify;
}
#lo2 {
    width: 473px;
}
