#szia:hover{

color: red;
text-decoration: underline;

}   

#link:hover {
    text-decoration: underline;
    color: cyan;
    font-weight: bold;
}

p{
    text-align: justify;
}

.lo{
    text-align: center;
}

#just{
    text-align: justify;
    list-style-type: square;
}
#lo2 {
    width: 576px;
    padding-left: 50px;
    padding-top: 15px;
}

ul{

    display:block;
    
    margin:auto;
    
    }

    #lo5{
        padding-right: 275px;
    }
    #lo6{
        padding-left: 225px;
    }


