#szia:hover{

color: red;
text-decoration: underline;

}   

#link:hover {
    text-decoration: underline;
    color: cyan;
    font-weight: bold;
}    

p{
    text-align: justify;
}

.lo{
    text-align: center;
}

#just{
    text-align: justify;
    list-style-type: square;
}
#lo2 {
    width: 576px;
    padding-left: 50px;
    padding-top: 15px;
}

ul{

    display:block;
    
    margin:auto;
    
    }

    #lo5{
        padding-right: 275px;
    }
    #lo6{
        padding-left: 225px;
    }

    .szoveg1{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        text-align: justify;
        font-size: 20px;
       
       }
    #arckep{
        width: 180px;
        padding-top: 20px;
        }
        #szt{
            width: 170px;
            padding-top: 20px;
            
        }

        .szoveg2{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            text-align: justify;
            font-size: 20px;
           
           }

           #ch{
            width: 200px;
            padding-top: 25px;
            
        }
     